__pycache__
ml_model_building
news_clf_venv
screenshorts/Screenshot2_1.png
screenshorts/Screenshot2_2.png
screenshorts/Screenshot2_3.png
screenshorts/Screenshot2_4.png
screenshorts/Screenshot2_5.png
screenshorts/Screenshot2_6.png
ExecutionPolicy.txt
note.txt